.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
}

.app__title {
  text-align: center;
}

@media only screen and (min-device-width: 768px)  {
  .app__title {
    margin-top: 4rem;
  }
}

.app__github {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  color: $almostwhite;
}
