@import 'variables';

body {
  margin: 0;
  font-family: 'Share Tech Mono', monospace;
  font-size: 18px;
  height: 100vh;
  background-color: $almostblack;
  color: $almostwhite;
  letter-spacing: 0.2rem;
}
